[Unit] 
Description=WetterMonitor 
After=syslog.target 

[Service] 
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/home/pi/WetterMonitor/start.sh
Restart=on-failure 

[Install]
WantedBy=multi-user.target
